@import 'tailwindcss';

/* Defining custom colors that will be used as the color scheme of the website. */
@theme {
  --color-background: #F8FAFB;
  --color-foreground: #121212;

  --color-card: #FFFFFF;
  --color-primary: #71b8b4;

  --color-primary-foreground: #FFFFFF;

  --color-secondary: #36667A;
  --color-secondary-foreground: #FFFFFF;

  --color-muted: #F1EDED;
  --color-muted-foreground: #8B7A76;

  --color-border: #E2E6E9;

  --radius: 0.75rem;

  --color-highlight: #BF3F31;
  --color-surface: #FFFFFF;
}
/* defining the base styles for the website. */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
  }
  .font-serif {
    font-family: 'Playfair Display', serif;
  }

}